<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TradeTips</title>
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome1-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <link rel="stylesheet" type="text/css" href="css/responsive1.css">

  </head>
  <body>


    <!-- Body Flyers Start -->
    <div class="body_flyer body_flyer1">
      <img src="images/body-flyer.png" alt="images">
    </div>
    <div class="body_flyer body_flyer2">
      <img src="images/body-flyer.png" alt="images">
    </div>
    <!-- Body Flyers End -->


    <!-- Header Start -->
    <div class="body_wrapper">
      <div class="app_header">
        <div class="app_header_logo">
          <a href="#">
            <img src="images/logo-icon.png" alt="images">
            <h3>TradeTips</h3>
          </a>
        </div>
        <div class="app_header_content">
          <div class="dsbrd_container">
            <div class="app_header_content_left">
              <h3>Free trial expire In 6 days <a href="#">Upgrade</a></h3>
              <div class="header_search">
                <div class="input-group input_group">
                  <input type="text" class="form-control" placeholder="Search over 1 million stocks & tips">
                  <div class="input-group-append">
                    <button class="btn">Search</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="app_header_content_right">
              <ul class="d-flex">
                <!-- <li class="header_right_menu">
                  <div class="dropdown msg_dropdown message_dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="images/header-message-icon.png" alt="images">
                      <span class="alert_circle alert_circle_blue"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMessage">
                      <div class="msg_list_head">
                        <h3>Notifications</h3>
                        <div class="dropdown-submenu msg_option_dropdown">
                          <button class="btn dropdown-toggle" type="button" id="dropdownMsgoption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMsgoption">
                            <h4>Settings</h4>
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              <li>
                                <div class="ntf_switch">
                                  <label for="desktop_notification">
                                    <input type="checkbox" id="desktop_notification" value="">
                                    <span class="ntf_switch_back"><small class="ntf_switch_toggle"></small></span>
                                    Enable Desktop Notifications
                                  </label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="msg_list_area">
                        <ul class="msg_list">
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user1.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user2.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user3.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user4.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                        </ul>
                        <div class="msg_list_btm">
                          <a href="#">See all notifications</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li> -->
                <!-- <li class="header_right_menu">
                  <div class="dropdown msg_dropdown notification_dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="images/header-notification-icon.png" alt="images">
                      <span class="alert_circle alert_circle_orange"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownNotification">
                      <div class="msg_list_head">
                        <h3>Notifications</h3>
                        <div class="dropdown-submenu msg_option_dropdown">
                          <button class="btn dropdown-toggle" type="button" id="dropdownMsgoption2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMsgoption2">
                            <h4>Settings</h4>
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              <li>
                                <div class="ntf_switch">
                                  <label for="desktop_notification">
                                    <input type="checkbox" id="desktop_notification" value="">
                                    <span class="ntf_switch_back"><small class="ntf_switch_toggle"></small></span>
                                    Enable Desktop Notifications
                                  </label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="msg_list_area">
                        <ul class="msg_list">
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user1.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user2.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user3.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                          <li class="msg_list_item">
                            <div class="msg_list_item_img">
                              <img src="images/user4.png" alt="images">
                            </div>
                            <div class="msg_list_item_txt">
                              <h3>John Doe <span>2 mins ago</span></h3>
                              <p>Annie Masion started following you. Say hi</p>
                            </div>
                          </li>
                        </ul>
                        <div class="msg_list_btm">
                          <a href="#">See all notifications</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li> -->
                <li class="header_right_menu">
                  <div class="dropdown user_dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img id="myImg" alt="images">
                      <h4 id=loginvals></h4>
<!--                       <span>John@youremail.com</span>
 -->                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownUser">
                      <a class="dropdown-item" href="#">
                        <svg id="user" xmlns="http://www.w3.org/2000/svg" width="15.534" height="15.534" viewBox="0 0 15.534 15.534">
                          <g id="Group_14291" data-name="Group 14291" transform="translate(0)">
                            <path id="Path_565" data-name="Path 565" class="cls-1" d="M13.259,10.042A7.737,7.737,0,0,0,10.307,8.19a4.49,4.49,0,1,0-5.081,0A7.779,7.779,0,0,0,0,15.534H1.214a6.553,6.553,0,0,1,13.107,0h1.214A7.716,7.716,0,0,0,13.259,10.042ZM7.767,7.767A3.277,3.277,0,1,1,11.043,4.49,3.28,3.28,0,0,1,7.767,7.767Z" transform="translate(0)"/>
                          </g>
                        </svg>
                        My Profile
                      </a>
                      <a class="dropdown-item" href="#">
                        <svg id="settings" xmlns="http://www.w3.org/2000/svg" width="18.441" height="18.441" viewBox="0 0 18.441 18.441">
                          <g id="Group_14302" data-name="Group 14302" transform="translate(0 0)">
                            <path id="Path_566" data-name="Path 566" class="cls-1" d="M10.081,18.441H8.36a1.151,1.151,0,0,1-1.142-1.014l-.184-1.441a7.261,7.261,0,0,1-1.056-.437l-1.148.892a1.146,1.146,0,0,1-1.525-.1L2.1,15.133A1.143,1.143,0,0,1,2,13.613l.892-1.149a7.094,7.094,0,0,1-.437-1.056l-1.445-.184A1.153,1.153,0,0,1,0,10.081V8.36A1.151,1.151,0,0,1,1.014,7.218l1.441-.184a7.261,7.261,0,0,1,.437-1.056L2,4.831A1.146,1.146,0,0,1,2.1,3.3l1.21-1.21A1.144,1.144,0,0,1,4.83,2l1.148.893a7.235,7.235,0,0,1,1.057-.437l.184-1.445A1.151,1.151,0,0,1,8.36,0h1.721a1.151,1.151,0,0,1,1.142,1.014l.184,1.441a7.235,7.235,0,0,1,1.057.437L13.611,2a1.145,1.145,0,0,1,1.525.1l1.21,1.21a1.143,1.143,0,0,1,.094,1.521l-.892,1.149a7.094,7.094,0,0,1,.437,1.056l1.445.184A1.152,1.152,0,0,1,18.441,8.36v1.721a1.151,1.151,0,0,1-1.014,1.142l-1.441.184a7.261,7.261,0,0,1-.437,1.056l.892,1.148a1.145,1.145,0,0,1-.1,1.525l-1.21,1.21a1.142,1.142,0,0,1-1.521.094l-1.149-.892a7.094,7.094,0,0,1-1.056.437l-.184,1.445a1.152,1.152,0,0,1-1.143,1.012ZM5.94,14.707a.39.39,0,0,1,.187.048,6.449,6.449,0,0,0,1.363.566.384.384,0,0,1,.275.32l.215,1.69a.388.388,0,0,0,.38.341h1.721a.387.387,0,0,0,.379-.337l.216-1.694a.384.384,0,0,1,.275-.32,6.449,6.449,0,0,0,1.363-.566.383.383,0,0,1,.423.032l1.345,1.045a.378.378,0,0,0,.5-.026L15.8,14.589a.38.38,0,0,0,.03-.507l-1.045-1.345a.384.384,0,0,1-.032-.423,6.449,6.449,0,0,0,.566-1.363.384.384,0,0,1,.32-.275l1.69-.215a.39.39,0,0,0,.341-.38V8.36a.387.387,0,0,0-.337-.379l-1.694-.216a.384.384,0,0,1-.32-.275,6.449,6.449,0,0,0-.566-1.363.382.382,0,0,1,.032-.423L15.833,4.36a.377.377,0,0,0-.025-.5L14.59,2.639a.378.378,0,0,0-.507-.03L12.738,3.654a.385.385,0,0,1-.423.032,6.423,6.423,0,0,0-1.363-.566.384.384,0,0,1-.275-.32l-.215-1.69a.39.39,0,0,0-.38-.342H8.36a.387.387,0,0,0-.379.337L7.765,2.8a.385.385,0,0,1-.275.321,6.421,6.421,0,0,0-1.363.565A.385.385,0,0,1,5.7,3.654L4.359,2.609a.377.377,0,0,0-.5.025L2.639,3.853a.38.38,0,0,0-.03.507L3.654,5.7a.384.384,0,0,1,.032.423A6.409,6.409,0,0,0,3.12,7.49a.384.384,0,0,1-.32.275L1.11,7.98a.388.388,0,0,0-.341.38v1.721a.387.387,0,0,0,.337.379l1.694.216a.384.384,0,0,1,.32.275,6.449,6.449,0,0,0,.566,1.363.382.382,0,0,1-.032.423L2.608,14.081a.377.377,0,0,0,.025.5L3.851,15.8a.38.38,0,0,0,.507.03L5.7,14.787a.4.4,0,0,1,.237-.08Z" transform="translate(0 0)"/>
                          </g>
                          <g id="Group_14303" data-name="Group 14303" transform="translate(5.379 5.379)">
                            <path id="Path_567" data-name="Path 567" class="cls-1" d="M10.842,14.684a3.842,3.842,0,1,1,3.842-3.842A3.846,3.846,0,0,1,10.842,14.684Zm0-6.915a3.074,3.074,0,1,0,3.074,3.074A3.077,3.077,0,0,0,10.842,7.768Z" transform="translate(-7 -7)"/>
                          </g>
                        </svg>
                        Account Settings
                      </a>
                      <a class="dropdown-item" href="#">
                        <svg id="Group_14323" data-name="Group 14323" xmlns="http://www.w3.org/2000/svg" width="19.322" height="13.781" viewBox="0 0 19.322 13.781">
                          <path id="Path_580" data-name="Path 580" class="cls-1" d="M33.054,24.325H14.268a.268.268,0,0,0-.268.268V37.837a.268.268,0,0,0,.268.268H33.054a.268.268,0,0,0,.268-.268V24.593A.268.268,0,0,0,33.054,24.325Zm-.268.537v2.162H14.537V24.862ZM14.537,37.569V29.828H32.786v7.741Z" transform="translate(-14 -24.325)"/>
                        </svg>
                        Manage Subscription
                      </a>
                      <a class="dropdown-item" href="#">
                        <svg id="price-tag" xmlns="http://www.w3.org/2000/svg" width="17.98" height="17.98" viewBox="0 0 17.98 17.98">
                          <g id="Group_14317" data-name="Group 14317" transform="translate(0)">
                            <g id="Group_14316" data-name="Group 14316">
                              <path id="Path_577" data-name="Path 577" class="cls-1" d="M16.107,0H11.355A3.349,3.349,0,0,0,8.971.987L.639,9.32a2.183,2.183,0,0,0,0,3.087l4.935,4.935a2.183,2.183,0,0,0,3.087,0l8.332-8.332a3.349,3.349,0,0,0,.987-2.384V1.873A1.876,1.876,0,0,0,16.107,0Zm1.124,6.625a2.6,2.6,0,0,1-.767,1.853L8.131,16.812a1.469,1.469,0,0,1-2.027,0L1.169,11.876a1.433,1.433,0,0,1,0-2.027L9.5,1.517A2.606,2.606,0,0,1,11.355.749h4.752a1.125,1.125,0,0,1,1.124,1.124V6.625Z" transform="translate(0)"/>
                            </g>
                          </g>
                          <g id="Group_14319" data-name="Group 14319" transform="translate(11.987 2.248)">
                            <g id="Group_14318" data-name="Group 14318">
                              <path id="Path_578" data-name="Path 578" class="cls-1" d="M343.207,64a1.873,1.873,0,1,0,1.873,1.873A1.876,1.876,0,0,0,343.207,64Zm0,3a1.124,1.124,0,1,1,1.124-1.124A1.125,1.125,0,0,1,343.207,67Z" transform="translate(-341.334 -64)"/>
                            </g>
                          </g>
                        </svg>
                        Payment History
                      </a>
                      <a class="dropdown-item" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.545" height="21.546" viewBox="0 0 21.545 21.546">
                          <path id="Path_585" data-name="Path 585" class="cls-1" d="M12.383,1.612a5.506,5.506,0,0,0-3.295,9.919l.7.527-.836.274a10.957,10.957,0,0,0-7.3,8.161,2.206,2.206,0,0,0,2.156,2.663h10.8a.419.419,0,1,0,0-.839H3.817a1.372,1.372,0,0,1-1.338-1.653h0a10.154,10.154,0,0,1,9.661-8.042h.028c.072,0,.144,0,.216,0s.146,0,.217,0h.028a10.02,10.02,0,0,1,4.093.972.418.418,0,0,0,.359-.755,11.009,11.009,0,0,0-1.266-.509l-.833-.276.7-.526a5.507,5.507,0,0,0-3.3-9.916Zm0,.839a4.669,4.669,0,0,1,.238,9.332H12.59l-.205,0-.2,0H12.15a4.669,4.669,0,0,1,.235-9.332Zm7.062,13.288a.41.41,0,0,0-.419.419v2.871H16.157a.419.419,0,1,0,0,.839h2.871v2.871a.419.419,0,1,0,.839,0V19.866h2.871a.419.419,0,0,0,0-.839H19.867V16.157a.412.412,0,0,0-.42-.419Z" transform="translate(-1.611 -1.612)"/>
                        </svg>
                        Invite Friend
                      </a>
                      <a class="dropdown-item" href="#">
                        <svg id="Group_14308" data-name="Group 14308" xmlns="http://www.w3.org/2000/svg" width="20.444" height="20.444" viewBox="0 0 20.444 20.444">
                          <g id="Group_14307" data-name="Group 14307" transform="translate(0 0)">
                            <path id="Path_573" data-name="Path 573" class="cls-1" d="M44.27,5.588a10.223,10.223,0,0,0-8.752,15.506L34.8,22.987l-.587,1.552,1.646-.2,2.353-.293A10.22,10.22,0,1,0,44.27,5.588Zm0,19.444A9.178,9.178,0,0,1,38.5,23l-2.76.344.894-2.363a9.222,9.222,0,1,1,7.638,4.054Z" transform="translate(-34.048 -5.588)"/>
                            <path id="Path_574" data-name="Path 574" class="cls-1" d="M61.453,22.141a2.89,2.89,0,0,0-1.013-.468,5.046,5.046,0,0,0-1.256-.149,5.545,5.545,0,0,0-1.365.167,4.531,4.531,0,0,0-1.22.5v2.186a3.853,3.853,0,0,1,1.154-.715,3.253,3.253,0,0,1,1.176-.236,1.35,1.35,0,0,1,.476.08,1.085,1.085,0,0,1,.363.218.933.933,0,0,1,.229.33,1.076,1.076,0,0,1,.08.418,1.477,1.477,0,0,1-.072.476,1.55,1.55,0,0,1-.218.414,3.058,3.058,0,0,1-.352.4q-.207.2-.483.432a4.172,4.172,0,0,0-.457.439,2.453,2.453,0,0,0-.327.465,2.107,2.107,0,0,0-.2.519,2.644,2.644,0,0,0-.065.61,2.7,2.7,0,0,0,.04.446,2.183,2.183,0,0,0,.113.425h1.91a1.039,1.039,0,0,1-.127-.3,1.408,1.408,0,0,1-.047-.356,1.456,1.456,0,0,1,.065-.454,1.391,1.391,0,0,1,.193-.378,2.5,2.5,0,0,1,.319-.36q.192-.182.446-.392.377-.312.668-.606a3.412,3.412,0,0,0,.486-.613,2.7,2.7,0,0,0,.3-.679,2.934,2.934,0,0,0,.1-.8,2.7,2.7,0,0,0-.243-1.194A2.207,2.207,0,0,0,61.453,22.141Z" transform="translate(-49.035 -16.179)"/>
                            <path id="Path_575" data-name="Path 575" class="cls-1" d="M61.435,46.439a1.4,1.4,0,0,0-.966.341,1.089,1.089,0,0,0-.385.85,1.14,1.14,0,0,0,.385.857,1.514,1.514,0,0,0,1.924.007,1.124,1.124,0,0,0,.37-.864,1.084,1.084,0,0,0-.378-.85A1.364,1.364,0,0,0,61.435,46.439Z" transform="translate(-51.352 -32.737)"/>
                          </g>
                        </svg>
                        Help and Support
                      </a>
                      <a class="dropdown-item" href="#">
                        <svg id="Group_14306" data-name="Group 14306" xmlns="http://www.w3.org/2000/svg" width="17.625" height="17.626" viewBox="0 0 17.625 17.626">
                          <path id="Path_569" data-name="Path 569" class="cls-1" d="M89.322,28.191H85.828a.419.419,0,0,1,0-.837H88.9V25.279a1.345,1.345,0,0,0-1.311-1.373.419.419,0,0,1,0-.837,2.183,2.183,0,0,1,2.149,2.21v2.494A.418.418,0,0,1,89.322,28.191Z" transform="translate(-72.114 -23.034)"/>
                          <path id="Path_570" data-name="Path 570" class="cls-1" d="M34.767,40.528h-11.6a1.244,1.244,0,0,1-.886-.37,1.3,1.3,0,0,1-.381-.929l.032-14.872A1.439,1.439,0,0,1,23.353,22.9H37.345a.419.419,0,1,1,0,.837,1.344,1.344,0,0,0-1.311,1.373V39.231A1.284,1.284,0,0,1,34.767,40.528ZM23.353,23.739a.6.6,0,0,0-.582.617L22.739,39.23a.47.47,0,0,0,.136.336.413.413,0,0,0,.293.124h11.6a.446.446,0,0,0,.429-.459V25.112a2.24,2.24,0,0,1,.466-1.373H23.353Z" transform="translate(-21.902 -22.902)"/>
                          <g id="Group_14314" data-name="Group 14314" transform="translate(2.994 6.009)">
                            <line id="Line_46" data-name="Line 46" class="cls-2" x2="7.767"/>
                            <line id="Line_47" data-name="Line 47" class="cls-2" x2="7.767" transform="translate(0 3.645)"/>
                            <line id="Line_48" data-name="Line 48" class="cls-2" x2="7.767" transform="translate(0 7.289)"/>
                          </g>
                        </svg>
                        Terms and Conditions
                      </a>
                      <a class="dropdown-item" href="#" onclick="myFunction()">
                        <svg id="noun_Log_Out_1933995" data-name="noun_Log Out_1933995" xmlns="http://www.w3.org/2000/svg" width="16.524" height="16.524" viewBox="0 0 16.524 16.524">
                          <g id="Group_14310" data-name="Group 14310" transform="translate(0 0)">
                            <g id="Group_14309" data-name="Group 14309">
                              <path id="Path_576" data-name="Path 576" class="cls-1" d="M25.188,20.72a.57.57,0,0,0,.191.433L29.4,25.188H18.174a.589.589,0,0,0-.433.178.611.611,0,0,0-.191.446.654.654,0,0,0,.624.624H29.4l-4.023,4.023a.611.611,0,0,0-.191.446.654.654,0,0,0,.624.624.611.611,0,0,0,.446-.191l5.092-5.092a.589.589,0,0,0,.178-.433.632.632,0,0,0-.178-.446l-5.092-5.092a.632.632,0,0,0-.446-.178.589.589,0,0,0-.433.178.611.611,0,0,0-.191.446m8.886-2.546a.609.609,0,0,0-.624-.624H30.9a.589.589,0,0,0-.433.178.611.611,0,0,0-.191.446.654.654,0,0,0,.624.624h1.922V32.826H30.9a.589.589,0,0,0-.433.178.611.611,0,0,0-.191.446.654.654,0,0,0,.624.624H33.45a.611.611,0,0,0,.446-.191.589.589,0,0,0,.178-.433Z" transform="translate(-17.55 -17.55)"/>
                            </g>
                          </g>
                        </svg>
                        Logout
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<script type="text/javascript">
  window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
window.addEventListener("load", function() {

  var url_string = window.location.href; 
  var urls = new URL(url_string);
 
  var sData = localStorage.getItem('allTokenData');
  var storageData= JSON.parse(sData);
  // alert(storageData.uid);
 
   var LoggedInUsername = storageData.uname;
   var LoggedInEmail = storageData.email;
   var LoggedInId = storageData.uid;
   document.getElementById("myImg").src = "https://apis.tradetipsapp.com/api/appUser/getImageByAppUserId?appUserId="+LoggedInId;
   $('#loginvals').html(LoggedInUsername);
   $('#loginemailvals').html(LoggedInEmail);


});


function myFunction() {
  localStorage.clear();
  window.location.href="/";
}

</script>