  <%- include partials/innerheader %>
<div class="app_main">
            <%- include partials/innersidebar %>

  <div class="app_content">
    <div class="dsbrd_container">
      <div class="mentor_wrapper row">
        <div class="mentor_wrapper_left col">
          <div class="mentor_head">
            <div class="author_bx">
              <img src="images/user.png" alt="images">
              <div class="author_bx_txt">
                <h2>Williams Park <span><img src="images/mentor-tag.png" alt="images"></span></h2>
                <h3>johnex</h3>
              </div>
            </div>
            <h4>78% <span>Return (6M)</span></h4>
          </div>
          <div class="mentor_tab_area my_tab_content">
            <nav>
              <div class="nav nav-tabs nav-fill" role="tablist">
                <a class="nav-item nav-link active" id="mt_feed" data-toggle="tab" href="#mtb_feed" role="tab" aria-controls="mtb_feed" aria-selected="true">Feed</a>
                <a class="nav-item nav-link" id="mt_save" data-toggle="tab" href="#mtb_save" role="tab" aria-controls="mtb_save" aria-selected="false">Saved</a>
                <a class="nav-item nav-link" id="mt_service" data-toggle="tab" href="#mtb_service" role="tab" aria-controls="mtb_service" aria-selected="false">Services</a>
              </div>
            </nav>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="mtb_feed" role="tabpanel" aria-labelledby="mt_feed">
                <div class="mentor_feed">
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mentor_feed_head">
                    <div class="author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park <span><a href="#"><i class="fas fa-comment-dots"></i></a></span></h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <h4>That's all you got Ashley?</h4>
                  </div>
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mentor_feed_head">
                    <div class="author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park <span><a href="#"><i class="far fa-thumbs-up"></i></a></span></h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                  </div>
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mentor_feed_head">
                    <div class="author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park <span><a href="#"><i class="far fa-thumbs-up"></i></a></span> <span><a href="#"><i class="fas fa-comment-dots"></i></a></span></h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <h4>That's all you got Ashley?</h4>
                  </div>
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="mtb_save" role="tabpanel" aria-labelledby="mt_save">
                <div class="mentor_feed">
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx buy_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn buy_btn">Buy</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_buy">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx sell_bg">
                    <div class="tips_bx_head">
                      <div class="tips_bx_author author_bx">
                        <img src="images/user.png" alt="images">
                        <div class="author_bx_txt">
                          <h2>Williams Park</h2>
                          <h3>2 mins ago</h3>
                        </div>
                      </div>
                      <div class="tips_bx_amount">
                        <h2>$782.65</h2>
                        <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_sell">1.13%</span></p>
                      </div>
                    </div>
                    <div class="tips_bx_cmpny">
                      <div class="tips_bx_cmpny_name">
                        <span class="bs_btn sell_btn">Sell</span>
                        <h2>NKE <span>NIKE, Inc.</span></h2>
                      </div>
                      <div class="tips_bx_cmpny_states">
                        <ul>
                          <li>
                            <h3>Entry</h3>
                            <h4>$789</h4>
                          </li>
                          <li>
                            <h3>Stop</h3>
                            <h4>$888</h4>
                          </li>
                          <li>
                            <h3>Exit</h3>
                            <h4><span class="color_sell">$888</span></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tips_bx_txt">
                      <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                    </div>
                    <div class="tips_bx_social">
                      <ul>
                        <li>
                          <a href="#">
                            <img src="images/tips-comment-icon.png" alt="images">
                            21 Comments
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-save-icon.png" alt="images">
                            Save
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="images/tips-like-icon.png" alt="images">
                            6 Likes
                          </a>
                        </li>
                        <li>
                          <div class="dropdown msg_option_dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/tips-more-icon.png" alt="images"> More
                            </a>
                            <div class="dropdown-menu">
                              <ul>
                                <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                                <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="mtb_service" role="tabpanel" aria-labelledby="mt_service">
                <div class="mentor_service_area">
                  <div class="mentor_srvc">
                    <h2>Email Newsletter</h2>
                    <div class="mentor_srvc_bx">
                      <img src="images/srvc1.jpg" alt="images">
                      <div class="mentor_srvc_bx_txt">
                        <h3>I offer newsletter exclusive for Energy Stock and Send Every Week to the audience <span>$15 <small>/ week</small></span></h3>
                        <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
                        <button class="btn cmn_btn btn_primary" data-toggle="modal" data-target="#serviceModal">Subscribe</button>
                      </div>
                    </div>
                  </div>
                  <div class="mentor_srvc">
                    <h2>1-1 Chat 15 mins (Video / Non Video)</h2>
                    <div class="mentor_srvc_bx">
                      <div class="mentor_srvc_bx_txt">
                        <h3>I can mentor you for your holding. Subsciribe to create an personal chat. <span>$120</span></h3>
                        <p>I Prefer to talk from 11:00 - 12:00pm every Mondays - Friday. Once Subscribed I will send you an chat url on your email with time.</p>
                        <h4>What you will get</h4>
                        <ul>
                          <li><span><i class="fas fa-check-circle"></i></span> Direct Messaging from me</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Learn more about the detail trading pattern I follow</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Get ebooks info I follow</li>
                        </ul>
                        <h4>My Availablity</h4>
                        <p>I am available from 10 am to 3 pm (Monday to Friday)</p>
                        <button class="btn cmn_btn btn_primary">Subscribe</button>
                      </div>
                    </div>
                  </div>
                  <div class="mentor_srvc">
                    <h2>Video Subscription</h2>
                    <div class="mentor_srvc_bx">
                      <img src="images/srvc2.jpg" alt="images">
                      <div class="mentor_srvc_bx_txt">
                        <h3>Subscribe to my Private Video Channel. I will send you all the videos on tips directly on email <span>$15 <small>/week</small></span></h3>
                        <p>Sample / Demo Video - <a href="#">https://www.youtube.com/watch?v=xcJtL7QggTI</a></p>
                        <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
                        <button class="btn cmn_btn btn_primary">Subscribe</button>
                      </div>
                    </div>
                  </div>
                  <div class="mentor_srvc">
                    <h2>Live Chat</h2>
                    <div class="mentor_srvc_bx">
                      <div class="mentor_srvc_bx_txt">
                        <h3>I am going to have an live chat session over Zoom URL, Tomorrow 5:00PM PST. <span>$120</span></h3>
                        <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
                        <h4>What you will get</h4>
                        <ul>
                          <li><span><i class="fas fa-check-circle"></i></span> Direct Messaging from me</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Learn more about the detail trading pattern I follow</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Get ebooks info I follow</li>
                        </ul>
                        <button class="btn cmn_btn btn_primary">Subscribe</button>
                      </div>
                    </div>
                  </div>
                  <div class="mentor_srvc">
                    <h2>Mentor Phone Group</h2>
                    <div class="mentor_srvc_bx">
                      <div class="mentor_srvc_bx_txt">
                        <h3>Join my 1000 Club Gold Group for all the best morning strategies. Enjoy the community of premium investors <span>$120</span></h3>
                        <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
                        <h4>What you will get</h4>
                        <ul>
                          <li><span><i class="fas fa-check-circle"></i></span> Direct Messaging from me</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Learn more about the detail trading pattern I follow</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Get ebooks info I follow</li>
                        </ul>
                        <button class="btn cmn_btn btn_primary">Subscribe</button>
                      </div>
                    </div>
                  </div>
                  <div class="mentor_srvc">
                    <h2>Webinar</h2>
                    <div class="mentor_srvc_bx">
                      <img src="images/srvc2.jpg" alt="images">
                      <div class="mentor_srvc_bx_txt">
                        <h3>I am going to have an live chat session over Zoom URL, Tomorrow 5:00PM PST.  <span>$120</span></h3>
                        <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
                        <h4>What you will get</h4>
                        <ul>
                          <li><span><i class="fas fa-check-circle"></i></span> Direct Messaging from me</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Learn more about the detail trading pattern I follow</li>
                          <li><span><i class="fas fa-check-circle"></i></span> Get ebooks info I follow</li>
                        </ul>
                        <button class="btn cmn_btn btn_primary">Subscribe</button>
                      </div>
                    </div>
                  </div>
                  <!-- Service Subscribe Modal Start -->
                  <div class="modal srvc_modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-body">
                          <div class="srvc_modal_head">
                            <h2>Subscribe to Mentorship <span>$155</span></h2>
                            <div class="srvc_modal_payment">
                              <h3>Payment Summary</h3>
                              <div class="srvc_modal_payment_in">
                                <ul>
                                  <li><h4>1-1 Personal Chat <span>Mon - Fri 10:00 AM - 11:00 AM</span></h4> <h5>$152.00 / monthly</h5></li>
                                  <li><h5>Taxes</h5> <h5>$12.5 </h5></li>
                                  <li><h5>Platform fees</h5> <h5>$1.5</h5></li>
                                  <li><h5>Total Pay</h5> <h4>$155</h4></li>
                                </ul>
                                <div class="srvc_coupon">
                                  <h5><a data-toggle="collapse" data-target="#service_coupon">Apply Coupon (If any)</a></h5>
                                  <div id="service_coupon" class="collapse">
                                    <div class="input-group input_group otp_input">
                                      <input type="text" class="form-control" placeholder="Enter Secure Code">
                                      <div class="input-group-append">
                                        <span><a href="#">Apply</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="srvc_modal_method">
                            <h2>Choose Payment Method</h2>
                            <ul class="my_radio">
                              <li>
                                <label>
                                  <input type="radio" name="payment-method" checked>Paypal
                                  <span class="my_radiobtn"></span>
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="radio" name="payment-method">Credit Card
                                  <span class="my_radiobtn"></span>
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="radio" name="payment-method">Echeck
                                  <span class="my_radiobtn"></span>
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="radio" name="payment-method">Debit Card
                                  <span class="my_radiobtn"></span>
                                </label>
                              </li>
                            </ul>
                          </div>
                          <div class="srvc_modal_card">
                            <h2>Enter Card Details</h2>
                            <div class="row">
                              <div class="col-12">
                                <input type="text" class="form-control" placeholder="Card Holder Name" name="Card Holder Name">
                              </div>
                              <div class="col-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" name="Card Number">
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Enter Expiry Date" name="Card Expiry Date">
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Enter CVV" name="Card CVV">
                              </div>
                              <div class="col-12">
                                <button class="btn cmn_btn btn_primary" data-toggle="modal" data-target="#servicesuccessModal" data-dismiss="modal">Proceed To Pay</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Service Subscribe Modal End -->
                  <!-- Service Subscribe Success Modal Start -->
                  <div class="modal srvc_success_modal fade" id="servicesuccessModal" tabindex="-1" aria-labelledby="servicesuccessModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-body">
                          <div class="pymnt_success_bx">
                            <div class="pymnt_success_top_shape"></div>
                            <img src="images/success-check.png" alt="images">
                            <h2>Your purchase was successful</h2>
                            <p>We’ve sent a receipt to youremail@gmail.com. You may need to check your junk or spam folder.</p>
                            <div class="pymnt_success_amount">
                              <h5>15 Days Course by RobinHewards.</h5>
                              <h3>$250</h3>
                            </div>
                            <button class="btn cmn_btn btn_white">Continue</button>
                            <button class="btn cmn_btn btn_secondary">Download Invoice</button>
                            <div class="pymnt_success_btm_shape"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Service Subscribe Success Modal End -->
                </div>
                <div class="mentor_books_area">
                  <h2>Books</h2>
                  <div class="mentor_book_bx">
                    <div class="mentor_book_img">
                      <img src="images/book1.png" alt="images">
                    </div>
                    <div class="mentor_book_txt">
                      <h3>The Intelligent Investor (English) Paperback – 2013 </h3>
                      <p> It is a widely acclaimed book by Benjamin Graham on value investing. Written by one of the greatest investment advisers of twentieth century</p>
                      <h4>Price $120 <button class="btn cmn_btn btn_primary">Buy Ebook</button></h4>
                    </div>
                  </div>
                  <div class="mentor_book_bx">
                    <div class="mentor_book_img">
                      <img src="images/book1.png" alt="images">
                    </div>
                    <div class="mentor_book_txt">
                      <h3>The Intelligent Investor (English) Paperback – 2013 </h3>
                      <p> It is a widely acclaimed book by Benjamin Graham on value investing. Written by one of the greatest investment advisers of twentieth century</p>
                      <h4>Price $120 <button class="btn cmn_btn btn_primary">Buy Ebook</button></h4>
                    </div>
                  </div>
                  <div class="mentor_book_bx">
                    <div class="mentor_book_img">
                      <img src="images/book1.png" alt="images">
                    </div>
                    <div class="mentor_book_txt">
                      <h3>The Intelligent Investor (English) Paperback – 2013 </h3>
                      <p> It is a widely acclaimed book by Benjamin Graham on value investing. Written by one of the greatest investment advisers of twentieth century</p>
                      <h4>Price $120 <button class="btn cmn_btn btn_primary">Buy Ebook</button></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mentor_wrapper_right col">
          <div class="mentor_follow_area">
            <ul>
              <li>
                <h2>21,500</h2>
                <h3>Followers</h3>
              </li>
              <li>
                <h2>21,500</h2>
                <h3>Following</h3>
              </li>
            </ul>
            <button class="btn cmn_btn btn_primary">Follow</button>
          </div>
          <div class="abt_mentor">
            <h2>About Mentor</h2>
            <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
            <h3><a href="#">Read more</a></h3>
            <h4>Member Since <span>04 JAN 2020</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

 <%- include partials/innerfooter %>