<%- include partials/innerheader %>
<div class="app_main">
<%- include partials/innersidebar %>
<div class="app_content">
  <div class="dsbrd_container">
    <div class="mentor_wrapper row">
      <div class="mentor_wrapper_left col">
        <div class="mentor_head">
        <div class="author_bx">
          <img id = "imagePreview" alt="images">
          <div class="author_bx_txt">
            <h2 id ="user_n"><span><img src="images/mentor-tag.png" alt="images"></span></h2>
         </div>
        </div>    
        </div>
        <div class="mentor_tab_area my_tab_content">
          <nav>
            <div class="nav nav-tabs nav-fill" role="tablist">
              <a class="nav-item nav-link active" id="mt_feed" data-toggle="tab" href="#mtb_feed" role="tab" aria-controls="mtb_feed" aria-selected="true">Feed</a>
              <a class="nav-item nav-link" id="mt_save" data-toggle="tab" href="#mtb_save" role="tab" aria-controls="mtb_save" aria-selected="false">Saved</a>
              <a class="nav-item nav-link" id="mt_service" data-toggle="tab" href="#mtb_service" role="tab" aria-controls="mtb_service" aria-selected="false">Services</a>
            </div>
          </nav>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="mtb_feed" role="tabpanel" aria-labelledby="mt_feed">
             <!--  <div class="mentor_feed">
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mentor_feed_head">
                  <div class="author_bx">
                    <img src="images/user.png" alt="images">
                    <div class="author_bx_txt">
                      <h2>Williams Park <span><a href="#"><i class="fas fa-comment-dots"></i></a></span></h2>
                      <h3>2 mins ago</h3>
                    </div>
                  </div>
                  <h4>That's all you got Ashley?</h4>
                </div>
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mentor_feed_head">
                  <div class="author_bx">
                    <img src="images/user.png" alt="images">
                    <div class="author_bx_txt">
                      <h2>Williams Park <span><a href="#"><i class="far fa-thumbs-up"></i></a></span></h2>
                      <h3>2 mins ago</h3>
                    </div>
                  </div>
                </div>
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mentor_feed_head">
                  <div class="author_bx">
                    <img src="images/user.png" alt="images">
                    <div class="author_bx_txt">
                      <h2>Williams Park <span><a href="#"><i class="far fa-thumbs-up"></i></a></span> <span><a href="#"><i class="fas fa-comment-dots"></i></a></span></h2>
                      <h3>2 mins ago</h3>
                    </div>
                  </div>
                  <h4>That's all you got Ashley?</h4>
                </div>
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="tab-pane fade" id="mtb_save" role="tabpanel" aria-labelledby="mt_save">
              <!-- <div class="mentor_feed">
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tips_bx buy_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_buy">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn buy_btn">Buy</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_buy">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tips_bx sell_bg">
                  <div class="tips_bx_head">
                    <div class="tips_bx_author author_bx">
                      <img src="images/user.png" alt="images">
                      <div class="author_bx_txt">
                        <h2>Williams Park</h2>
                        <h3>2 mins ago</h3>
                      </div>
                    </div>
                    <div class="tips_bx_amount">
                      <h2>$782.65</h2>
                      <p>AT TIME OF TIP : $781.50 | Change $1.01, <span class="color_sell">1.13%</span></p>
                    </div>
                  </div>
                  <div class="tips_bx_cmpny">
                    <div class="tips_bx_cmpny_name">
                      <span class="bs_btn sell_btn">Sell</span>
                      <h2>NKE <span>NIKE, Inc.</span></h2>
                    </div>
                    <div class="tips_bx_cmpny_states">
                      <ul>
                        <li>
                          <h3>Entry</h3>
                          <h4>$789</h4>
                        </li>
                        <li>
                          <h3>Stop</h3>
                          <h4>$888</h4>
                        </li>
                        <li>
                          <h3>Exit</h3>
                          <h4><span class="color_sell">$888</span></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tips_bx_txt">
                    <p>Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
                  </div>
                  <div class="tips_bx_social">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="images/tips-comment-icon.png" alt="images">
                          21 Comments
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-save-icon.png" alt="images">
                          Save
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="images/tips-like-icon.png" alt="images">
                          6 Likes
                        </a>
                      </li>
                      <li>
                        <div class="dropdown msg_option_dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="images/tips-more-icon.png" alt="images"> More
                          </a>
                          <div class="dropdown-menu">
                            <ul>
                              <li><span><i class="fas fa-folder-open"></i></span> Archive all</li>
                              <li><span><i class="fas fa-check-double"></i></span> Mark all as read</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="tab-pane fade" id="mtb_service" role="tabpanel" aria-labelledby="mt_service">
              <div class="mentor_service_area" id="newsletterServices">
               
          
                
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="mentor_wrapper_right col">
        <div class="mentor_follow_area">
          <ul>
            <li>
              <h2>21,500</h2>
              <h3>Followers</h3>
            </li>
            <li>
              <h2>21,500</h2>
              <h3>Following</h3>
            </li>
          </ul>
          <button class="btn cmn_btn btn_primary">Follow</button>
        </div>
        <div class="abt_mentor">
          <h2>About Mentor</h2>
          <p>Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui permet de penser à la cænogenèse de l"être dont il est.</p>
          <h3><a href="#">Read more</a></h3>
          <h4>Member Since <span>04 JAN 2020</span></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content Start -->
</div>
<%- include partials/innerfooter %>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
  
  var sData = localStorage.getItem('allTokenData');
  var storageData= JSON.parse(sData);
 
  var user_name = storageData.uname;
  var email_id = storageData.email;
  var LoggedInId = storageData.uid;
  var tokens = storageData.tokendata;

  console.log(LoggedInId);
  document.getElementById("imagePreview").src = "https://apis.tradetipsapp.com/api/appUser/getImageByAppUserId?appUserId="+LoggedInId;
  document.getElementById("user_n").textContent = user_name;


        $.ajax({
              type: 'POST',
              url: 'https://apistest.tradetipsapp.com/api/serviceMentorSubscriptionPlan/getAllServiceSubscriptionPlanForMentor',
              headers: {
                Authorization: 'Bearer '+ tokens,
                 },
              data: {
                  mentorId: LoggedInId,
                },
               success: function(data) {
       console.log(data);
                 var datak = JSON.stringify(data);
                 var dataResult = JSON.parse(datak); 
                  console.log(dataResult);
                  var len = dataResult.length;
              console.log(len);
             if(dataResult.length == 0){
                
                  document.getElementById('newsletterServices').innerHTML="<br><p>You currently have no Services created.</p>";
                  $("#newsletterServices").css("text-align", "center");
                  $("#newsletterServices").css("color", "white");

               } else {


                let newtip = [];
                  for(var i=0; i< dataResult.length; i++) {  
                    

                   newtip += '<div class="mentor_srvc"><h2>'+dataResult[i].serviceTypeMaster.title+'</h2><div class="mentor_srvc_bx"><img src="https://apistest.tradetipsapp.com'+ dataResult[i].imageDetails +'" alt="images"><div class="mentor_srvc_bx_txt"><h3>'+dataResult[i].title+'<span>$'+dataResult[i].price+'</span></h3><p>'+dataResult[i].descriptionOne+'</p><button class="btn cmn_btn btn_primary" data-toggle="modal" data-target="#serviceModal">Subscribe</button></div></div>'                 

               

                  }
                   $("#newsletterServices").append(newtip);

                }

                  
                 


             }
             });
</script>
      